.bg-color{
	background-color: #1296db!important;
}
.bg-color-disabled{
	background-color: #11acdb!important;
}
.divider{
	height: 15rpx;
	background-color: aliceblue;
}
.color-global{
	color: #1296db;
}
.color-aliceblue{
	background-color: aliceblue;
}